[submodule "sonic-swss-common"]
	path = sonic-swss-common
	url = https://github.com/sonic-net/sonic-swss-common.git
[submodule "src/sonic-swss-common"]
	path = src/sonic-swss-common
	url = https://github.com/sonic-net/sonic-swss-common.git
